.str-chat.dark .live-event-message-input__input {
  background-color: #1a1c1e;
}

.live-event-message-input__input-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 32px;
  right: 20px;
}

.str-chat__textarea {
  color: #19a0ff;
  line-height: 150%;
  position: relative;
  border: none;
  height: 52px;
  width: 238px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #bed5e4;
  border-radius: 8px;
}

.str-chat__textarea:focus-within {
  background: #f1faff;
  border: 1px solid #00a3ff;
}
.str-chat__textarea textarea {
  border: none;
  outline: none;
  box-shadow: none;
  background: #ffffff;
  max-width: 180px;
}
.str-chat__textarea textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: #f1faff;
}

.str-chat.dark .str-chat__textarea {
  background: #1a1c1e;
  border: 1px solid #2c3134;
}
.str-chat.dark .str-chat__textarea:focus-within {
  border: 1px solid #00a3ff;
}

.str-chat.dark .str-chat__textarea textarea {
  color: #19a0ff;
  background: #1a1c1e;
}

.str-chat__textarea textarea::placeholder {
  color: #19a0ff;
}
.live-event-message-input__wrapper .str-chat__input--emojipicker {
  z-index: 9;
}

.emoji-mart .emoji-mart-emoji:focus {
  outline: none;
}

.str-chat.dark .live-event-message-input__wrapper {
  background-color: #1a1c1e;
}
.str-chat.dark .str-chat__textarea textarea {
  background-color: #1a1c1e;
}
.str-chat.dark .str-chat__textarea {
  background-color: #1a1c1e;
}

div.rta__autocomplete.str-chat__emojisearch {
  z-index: 10;
  display: flex;
  background: white;
  color: black;
  line-height: 1.4;
  border-radius: 8px;
}
