@import '../../styles/variables';

div.rta__autocomplete.str-chat__emojisearch {
  z-index: 10;
  position: absolute;
  width: 100%;
  background: $background;
  border: 1px solid $border-color;
  margin: 16px 0;
  border-radius: 16px;
  color: $foreground;
  max-height: fit-content;
}

.rta__entity--selected {
  background: $button-background-hover;
}

.str-chat__slash-command {
  cursor: pointer;
  transition: 0.1s all;

  &-description {
    color: $foreground;
  }

  &:hover {
    background: $button-background-hover;
  }
}

.rta__list-header {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $foreground;
  mix-blend-mode: normal;
  background: $component-background;
}

.channel-footer {
  background: $component-background;
  border-top: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .str-chat__textarea {
    padding: 0;
    background: none;

    textarea {
      background: $background;
      border-color: $border-color;
      max-height: 52px;
      color: $foreground;
    }
  }

  .str-chat__input-footer {
    display: none;
  }

  .str-chat__input--emojipicker {
    z-index: 1;
    bottom: 131px;
    margin-right: 17px;

    > section {
      width: 285px !important;
      background: $background;
      border-color: $border-color;
      border-radius: 16px;

      .emoji-mart-category-label span {
        background: none;
        color: $foreground;
      }

      .emoji-mart-search input {
        border-color: $border-color;
      }

      .emoji-mart-bar {
        border: none;
      }

      li:hover span {
        cursor: pointer;
      }

      button:hover {
        background: none;
        cursor: pointer;
      }
    }
  }

  > .channel-footer__top {
    position: relative;
    display: flex;
    align-items: center;

    > div > svg {
      position: absolute;
      bottom: 1.1rem;
      right: 0.75rem;

      &:hover {
        fill-opacity: 1;
      }
    }
  }

  > .channel-footer__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    > .watcher-count {
      align-items: center;
      background: $button-background;
      border: none;
      border-radius: 0.5rem;
      color: $foreground;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      height: 2.5rem;
      width: 4rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: $button-background-hover;
      }

      > p {
        font-size: 0.75rem;
      }
    }

    > .typing-indicators {
      align-items: center;
      display: flex;

      > .indicators {
        display: flex;
        margin-right: 0.25rem;

        > .dot {
          animation: chat 1s infinite;
          background: $foreground;
          border-radius: 50%;
          height: 0.25rem;
          margin-right: 0.25rem;
          transition: all 1s;
          width: 0.25rem;
        }
      }

      > p {
        color: rgba($color: $foreground, $alpha: 0.5);
        font-size: 0.75rem;
      }
    }

    > button {
      cursor: pointer;
      height: 2.5rem;
      width: 2.5rem;
      transition: all 0.2s;

      &:hover path {
        fill: $foreground;
      }
    }

    > button.text {
      background: $button-background-hover;
    }
  }
}
