html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  border-radius: 16px;
}

.str-chat-channel-list {
  height: 100%;
}

.str-chat-channel {
  height: 100%;
}

.messaging.str-chat.dark .str-chat__list {
  padding: 0 30px 0;
  background: #282a2d;
}

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 20px 20px 0 0px;
}

.str-chat-channel.messaging .str-chat__main-panel:not(:last-child) {
  padding: 20px 0 0 0px;
}

.str-chat-channel.messaging
  .str-chat__main-panel:not(:last-child)
  .messaging__channel-header {
  border-radius: 10px 0px 0px 0px;
}

.str-chat__message-simple-status {
  display: none;
}

.messaging.str-chat.dark .str-chat__message--system__date {
  color: rgba(255, 255, 255, 0.7);
}

.messaging.str-chat.dark .str-chat__message--system__text p {
  color: rgba(255, 255, 255, 0.7);
}

.messaging.str-chat.dark .str-chat__message--system__line {
  background: rgba(255, 255, 255, 0.1);
}

.str-chat__message--system {
  padding: 20px;
}

/*  THREAD STYLES */

.messaging.str-chat .str-chat__thread-header {
  border: none;
  background: white;
  height: 64px;
  min-height: 64px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.03);
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.messaging.str-chat.dark .str-chat__thread {
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0px 10px 0 0;
  background: #282a2d;
}

.str-chat__thread .str-chat__messaging-input {
  background: none !important;
}

.messaging.str-chat .str-chat__thread-list {
  height: unset;
  padding: 0;
  padding-top: 20px;
}

.messaging.str-chat .str-chat__thread-list .str-chat__message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.str-chat__thread-list .str-chat__list.str-chat__list--thread {
  padding: 0 !important;
}

.str-chat__thread-list .str-chat__li.str-chat__li--top {
  margin-top: 0;
}

.str-chat__thread-list .str-chat__message:first-of-type {
  border-bottom: 1px solid #212326;
  padding-bottom: 20px;
}

.str-chat__thread-list li .str-chat__message:first-of-type {
  border-bottom: none;
  padding-bottom: 0px;
}

.str-chat__thread-header-details {
  display: flex;
  align-items: center;
}

.str-chat__thread-header-details strong {
  margin-right: 10px;
  font-size: 15px;
}

.str-chat__thread-header-details small {
  font-size: 12px;
  opacity: 50%;
}

.str-chat__thread .str-chat__messaging-input {
  margin-top: 0px !important;
}

.messaging.str-chat .str-chat__thread-header {
  height: 60px !important;
  min-height: 0px;
}

.messaging.str-chat .str-chat__thread-header .str-chat__square-button {
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
}

.messaging.str-chat .str-chat__thread-header .str-chat__square-button:focus {
  border: none;
  outline: none;
}

.messaging.str-chat .str-chat__thread-header .str-chat__square-button:hover {
  border: 1px solid #006cff;
}

.str-chat__message-replies-count-button:focus {
  border: none;
  outline: none;
}

.str-chat__thread-start {
  display: none;
}

.messaging.str-chat .str-chat__thread-list .str-chat__reverse-infinite-scroll {
  padding-top: 20px;
}

.str-chat__thread .str-chat__messaging-input {
  margin-top: 10px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.04);
}

/* MESSAGE ACTIONS */

.str-chat.dark
  .str-chat__message
  .str-chat__message-simple__actions__action--options
  .str-chat__message-actions-box--mine {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.str-chat__modal.str-chat__modal--open {
  top: 40%;
  left: 50%;
  width: 344px;
  height: 160px;
  border: none;
  opacity: 1;
  border-radius: 16px;
}

.str-chat.dark .str-chat__modal.str-chat__modal--open {
  /* background: #212326; */
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.str-chat__modal__inner {
  height: 160px;
  border: none !important;
  background: none !important;
}

.str-chat__modal__close-button:hover {
  color: #006cff;
}

.str-chat__edit-message-form {
  position: relative;
  top: 40px;
}

.str-chat__modal .str-chat__edit-message-form textarea {
  border: 1px solid transparent !important;
  height: 50px !important;
  max-height: 50px !important;
  font-size: 15px;
}
.str-chat__modal .str-chat__edit-message-form textarea:focus {
  border: 1px solid #006cff !important;
}

.str-chat__modal .str-chat__message-team-form-footer {
  margin-top: 12px;
}

.str-chat__modal .str-chat__message-team-form-footer button {
  cursor: pointer;
}

.str-chat__modal__close-button svg {
  top: 0px;
  margin-left: 8px;
}

.str-chat__modal .str-chat__message-team-form-footer svg:hover {
  fill: #006cff;
}

.str-chat__modal__close-button:hover svg {
  fill: #006cff;
}

.str-chat__edit-message-form .rfu-file-upload-button {
  display: none;
}

.str-chat__edit-message-form
  .str-chat__message-team-form-footer
  button[type='submit'] {
  padding-right: 0;
}

.str-chat__edit-message-form .str-chat__message-team-form-footer button:focus {
  border: none;
  outline: none;
}

.str-chat__reaction-selector {
  border-radius: 16px;
  height: 56px;
}

.str-chat.dark .str-chat__reaction-selector {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.str-chat__reaction-selector li {
  font-size: 24px;
}

.str-chat__reaction-selector li span span {
  height: 24px !important;
  width: 24px !important;
}
