.window-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.window-controls-slider {
  display: flex;
  height: 30px;
  width: 177px;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.799579);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.0562719);
  border-radius: 15px;
}
.window-controls-selected {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #0a0a0a;
  height: 26px;
  width: 84px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.198071);
  border-radius: 15px;
  cursor: pointer;
  line-height: 26px;
}
.window-controls-unselected {
  background: rgba(255, 255, 255, 0.799579);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #0a0a0a20;
  height: 26px;
  width: 84px;
  border-radius: 15px;
  cursor: pointer;
  line-height: 26px;
}
