.channel__container {
  height: 100%;
  width: 100%;
}

.str-chat__thread-list .str-chat__message-team {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.str-chat__thread .str-chat__square-button {
  background: #fff;
  margin: 0;
  padding: 0;
}

.str-chat__thread .str-chat__square-button:active {
  background: #fff;
}

.str-chat__list .str-chat__reverse-infinite-scroll {
  padding-top: 0px;
}

.str-chat__date-separator {
  padding: 20px 40px;
}
