// colors
#root {
  --background: #000615;
  --component-background: #010c29;
  --button-background: #062471;
  --button-background-hover: #0d47d9;

  --foreground: #fff;

  --attendees: #00fc92;
  
  --border-color: #062471;
  --border-color-secondary: #081e58;

  --header-height: 60px;
  --sidebar-width: 320px;

  --btn-border-radius: .5rem;

  --input-focused-box-shadow: 0 0 0 2px rgba(0, 108, 255, 0.36);
}



