@layer default-chat-sdk {
  @import '~stream-chat-react/dist/scss/v2/index.scss';
}
@import url('https://fonts.googleapis.com/css?family=Inter');

@import './App.scss';
@import './CentralPanel.scss';
@import './EventCard.scss';
@import './EventsList.scss';
@import './Navigation.scss';
@import './OverviewContainer.scss';
@import './ParticipantProfile.scss';
@import './RoomsList.scss';
@import './RoomVideo.scss';
@import './UserActionsModal.scss';
@import './VideoContainer.scss';

@import "./Chat";

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-low-emphasis);
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}