.messaging__sidebar {
    height: 100%;
    display: grid;
    grid-template-rows: min-content;
}

.str-chat__channel-list {
    padding: 20px 10px;
}

.messaging__channel-list__header {
    display: flex;
    align-items: center;
    padding: 30px 10px 10px 30px;
}

.messaging__channel-list__header__name {
    display: flex;
    line-height: 20px;
    font-size: 16px;
    margin: 0 10px;
}

.messaging__channel-list__header__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.str-chat__theme-dark .messaging__channel-list__header__button {
    background: #3e3e41;
    box-shadow: none;
}

.messaging__channel-list__header__button svg path {
    fill: var(--str-chat__primary-color);
}

.str-chat__theme-dark .messaging__channel-list__header__button svg path {
    fill: #e9e9ea;
}

.str-chat__load-more-button {
    display: none;
}

.messaging__channel-list__header__button:focus {
    border: none;
    outline: none;
}

.messaging__channel-list__message {
    color: #000;
}