.messaging__sidebar {
    background: var(--str-chat__channel-list-background-color);
}

.str-chat-channel-list {
}

.messaging__channel-list__header__button {
    border: 0;
    cursor: pointer;
    background: #fafafa;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06), 0 2px 30px rgba(0, 0, 0, 0.1);
}

.str-chat.str-chat__theme-dark .messaging__channel-list__message {
    color: #fff;
}

.messaging__channel-list__header__name {
    font-weight: bold;
    color: var(--str-chat__text-color);
}


.messaging__channel-list__header__button {
    width: 40px;
    height: 40px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    background: #fafafa;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06), 0 2px 30px rgba(0, 0, 0, 0.1);
}