/* .slo-mo-toggle__container__right {
  background: #20e070;
  border-radius: 9999px;
  width: 64px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: background 0.2s;
}
.slo-mo-toggle__container__left {
  background: #dddddd;
  border-radius: 9999px;
  width: 64px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slo-mo-toggle__switch {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 99999px;
  height: 30px;
  width: 30px;
  margin-left: 2px;
  margin-right: 2px;
} */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 64px;
  height: 34px;
  background: #dddddd;
  border-radius: 64px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 2px;
  width: 29px;
  height: 29px;
  border-radius: 30px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.slo-mo-toggle__container {
  display: none;
}

.slo-mo-toggle__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 64px;
  height: 34px;
  background: #dddddd;
  border-radius: 64px;
  position: relative;
  transition: background-color 0.2s;
}

.slo-mo-toggle__label .slo-mo-toggle__button {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 29px;
  height: 29px;
  border-radius: 30px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.slo-mo-toggle__container:checked
  + .slo-mo-toggle__label
  .slo-mo-toggle__button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* grow effect */
.slo-mo-toggle__label:active .slo-mo-toggle__button {
  width: 60px;
}
