.panelists-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.panelists-container-dark {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.panelists-top {
  display: flex;
  flex: 0 0 60%;
  background: url(../../assets/Map.png) right bottom no-repeat;
  background-size: 811px 420px;
}

.panelists-bottom {
  display: flex;
  flex: 0 0 40%;
}

.panelists-top__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 20px 30px 20px;
  flex: 0 0 50%;
}

.panelists-top__left-title {
  font-family: Helvetica Neue, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #2c2c30;
  margin-bottom: 10px;
}
.panelists-container-dark .panelists-top__left-title {
  color: white;
}

.panelists-top__left-tags {
  display: flex;
  margin-bottom: 10px;
}

.panelists-top__left-tag {
  font-family: Helvetica Neue, sans-serif;
  font-size: 11px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  padding: 8px;
  margin-right: 4px;
}

.panelists-top__left-description {
  font-size: 15px;
  font-family: Helvetica Neue, sans-serif;
  color: #7ba0bb;
  line-height: 140%;
}

.panelists-bottom {
  display: flex;
  flex-direction: column;
  margin: 0 20px 31px 20px;
}

.panelists-bottom__title {
  margin-bottom: 10px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #2c2c30;
}

.panelists-container-dark .panelists-bottom__title {
  color: white;
}

.panelists-bottom__panelists {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.panelists-bottom__panelist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 82px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #bed5e4;
  margin-right: 10px;
}

.panelists-container-dark .panelists-bottom__panelist {
  color: white;
  background: black;
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.1);
  border: 1px solid #2c3134;
}

.panelists-bottom__panelist-left {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.panelists-names {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.panelists-name {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.panelists-bottom__panelist-right {
  width: 38px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  justify-content: space-between;
}

.panelists-bottom__panelist-right svg {
  opacity: 0.5;
}
